.dogDiv img {
  width: 100%;
  height: auto
}

.dogDiv video {
  width: 100%;
  height: auto
}

.dogDiv {
  position: absolute;
  max-height: 30%;
  max-width: 25%;
  animation-play-state: play;
  animation-name: slidein;
  animation-duration: 3s
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
