.dogDiv img {
  width: 100%;
  height: auto
}

.dogDiv video {
  width: 100%;
  height: auto
}


/*Media query for dog divs to change animation based on mobile/desktop*/
.dogDiv {
  position: absolute;
  max-width: 50%;
  animation-duration: 8s;
  animation-name: slidein-top;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@media only screen and (min-width: 768px) {
  .dogDiv {
    position: absolute;
    max-height: 25%;
    max-width: 25%;
    animation-duration: 8s;
    animation-name: slidein-side;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

.paused {
  animation-play-state: paused !important
}

.delay {
  animation-delay: 10s
}

.notVisible {
  animation-play-state: paused !important
}


@keyframes slidein-side {
  from {
    margin-left: -50%;
    width: 100%;
  }

  to {
    margin-left: 150%;
    width: 300%;
  }
}

@keyframes slidein-top{
  from {
    top: -50%;
  }

  to {
    top: 150%;
  }
}
