/*initialise a CSS variable*/
:root {
  --animation-time: 2s;
}


.dogDiv img {
  width: 100%;
  height: auto
}

.dogDiv video {
  width: 100%;
  height: auto
}

.dogDiv {
  position: absolute;
  max-height: 25%;
  max-width: 25%;
  animation-duration: 8s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

.paused {
  animation-play-state: paused !important
}

.delay {
  animation-delay: 10s
}



@keyframes slidein {
  from {
    margin-left: -50%;
    width: 100%;
  }

  to {
    margin-left: 150%;
    width: 300%;
  }
}
